google-api-python-client==2.177.0
google-auth-oauthlib==1.2.2
gspread>=6.2.1
google-auth>=2.40.3
fastapi>=0.109.0
uvicorn>=0.23.1
python-dotenv>=1.0.0
boto3>=1.35.0
watchtower>=3.0.0
pydantic-settings>=2.0.0